.container {
    margin-top: 1rem;
}

ul {
    display: flex;
    justify-content: space-between;
    margin: 2px;
}

.priority-item a {
    margin-right: 1rem;
    color: black;
}

form .post {
    display: flex;
}

.check {
    margin-top: 2rem;
}

.priority-item {
    list-style-type: none;
    
}

.priority-item a:hover {
    color: rgb(233, 163, 163);
}

.todo-wrapper {
    display: flex;
    justify-content: space-between;
}

.todo-list {
    width: 40%;
}

.todo-done {
    width: 40%;
    
}






