<div class="container">
  <form (ngSubmit)="add()">
    <div class="post">
      <div class="col-6 form-group">
        <h5>Create todo:</h5>
        <input type="text" class="form-control" 
        name="newTodo.todo_item" required
        [(ngModel)]="newTodo.todo_item">
      </div>
      <div class="col-4 check">
        <input type="checkbox" 
        [checked]="newTodo.is_priority" 
        (change)="newTodo.is_priority = !newTodo.is_priority" /> 
             Priority       
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="newTodo.todo_item === ''">Submit</button>
  </form><br>
  <h5 *ngIf="todos.length > 0">My todos:</h5><br>
  <ul class="col-6" *ngFor="let todo of todos">
    <li>
      {{todo.todo_item}}
    </li>
    <div>
      <a (click)="delete(todo)"><i class="fas fa-times"></i></a>
      <a routerLink='/todos/{{todo.id}}'><i class="fas fa-edit"></i></a> 
    </div> 
  </ul>
</div>

